# Versionen (Tags)
MARIADB_TAG=10.6.7
REDIS_TAG=alpine
MEMCACHED_TAG=alpine
MOODLE_DOCKER_TAG=latest

# Netzwerk & URL
COMPOSE_PORT=3454
MOODLE_URL=http://localhost

# Datenbank & Admin (Passwörter hier setzen!)
MOODLE_DB_NAME=moodle
MOODLE_DB_USER=admin
MOODLE_DB_TYPE=mysqli
MOODLE_DB_PASSWORD=SetzeHierEinSicheresPasswort
MOODLE_ADMIN_PASSWORD=SetzeHierEinAdminPasswort
MOODLE_ADMIN_EMAIL=info@local.de

# PHP Settings
UPLOAD_LIMIT=200M
